{% extends 'moviedjango/base.html' %}

      {% block content %}

         <main class="main">
            <div class="container">
               <div class="col coll">
                   {%for el in film%}

                        <div class="wrapper">
                              <div class="card">
                              <img src="{{el.image.url}}" alt="">
                                 <div class="descriptions">
                                    <h1 style="font-size: 20px;">Название :{{el.title}}</h1>
                                    <p>Описание: {{el.descr}}</p>
                                    <p>Жанр: {{el.genress}}</p>
                                    <p>Страна: {{el.country}}</p>
                                    <p>Ссылка: <a class="card-li" href="{{el.url}}">{{el.url}}</a></p>
                                    <div class="card-del_con">
                                      <a href="{% url 'delete-item' el.id %}"><button class="btn btn-success">Delete</button></a>
                                    </div>
                                 </div>
                              </div>
                        </div>
                        
                  {%endfor%}
               </div>
                 </div>
            </div>
         </main>
      {% endblock  %}