{% extends 'moviedjango/base.html' %}

      {% block content %}
         <main class="main">
            <div class="container">
               <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

                   {%for el in film%}
                 <div class="col colll">
                       <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                         <img src="{{el.image.url}}" style="max-width: 300px; max-height: 300px" alt="">
                        </div>
               
                         <div class="card-body">
                         <ul class="list-unstyled mt-3 mb-4">
                         <h4 class="my-0 fw-normal"> Название :{{el.title}}</h4>
                           <li>Описание: {{el.descr}}</li>
                           <li>Жанр: {{el.genress}}</li>
                           <li>Страна: {{el.country}}</li>
                           <li>Ссылка: <a class="card-li" href="{{el.url}}">{{el.url}}</a></li>
                         </ul>
                        </div>
                     </div>
                  </div>
                  {%endfor%}
               
                 </div>
            </div>
         </main>
      {% endblock  %}